<div class="container">
    <div>
        <img src="/magritte.png" alt="">
    </div>
    <div>
        <h1 style="color: rgb(81, 81, 172); font-weight: bold;">Quienes somos?</h1>
        <p>
        Nosotros somos una empresa que se encarga de distribuir impreciones de calidad del pintor renne magrite.
        <br>
        René François Ghislain Magritte (Lessines, 21 de noviembre de 1898-Bruselas, 15 de agosto de 1967) fue un pintor surrealista belga. Conocido por sus ingeniosas y provocativas imágenes, pretendía con su trabajo cambiar la percepción precondicionada de la realidad y forzar al espectador a hacerse hipersensitivo a su entorno.
        Magritte dotó al surrealismo de una carga conceptual basada en el juego de imágenes ambiguas y su significado denotado a través de palabras, poniendo en cuestión la relación entre un objeto pintado y uno real.
        </p>
    </div>
</div>