<footer class="text-white text-center py-3">
    <p class="text-white">Arte vivo, La experiacia de llevar el arte a tu hogar</p>
</footer>

<div id="Segundo">
    <div>
        <a href="#"><img src="18.png" alt="" class="redes"></a>
        <a href="#"><img src="19.png" alt="" class="redes"></a>
        <a href="#"><img src="20.png" alt="" class="redes"></a>
    </div>
    <div>
        <p>Politica de privacidad | Terminos | Tarifas</p>
        <p>Se aplica la Politica de privacidad y los Terminos del servcico &copy; {{anio}} Arte vivo Inc.</p>
    </div>
</div>