<h1 style="color: rgb(81, 81, 172); font-weight: bold; padding-left: 20px;">Ubicaciones: </h1>
<br>
<div>
    <img src="/Loc1.png" alt="">
    <p>Priv, Loma del Huizache 129 Col, Lomas de Oriente I, 20175 Aguascalientes, Ags.</p>
</div>
<br>
<div>
    <img src="/Loc2.png" alt="">
    <p>Av. Gobernador Luis G. Curiel 2774, Colón Industrial, 44940 Guadalajara, Jal.</p>
</div>
<br>
<div>
    <img src="/Loc3.png" alt="">
    <p>3-chōme-18 Nishiogiminami, Suginami City, Tokyo 167-0053, Japan</p>
</div>